    <header>
      <a href="http://datavis.berlin" rel="index" id="logo">DataVis Meetup Berlin</a>
      <p>
        Hey fellow data visualiser<em><small>*</small></em>,<br /><br />

        if you are new in town, welcome to Berlin, and to everyone new or already involved in data visualization, this website aims to guide you to the local scene. It is inspired and maintained by the <a href="https://www.meetup.com/de-DE/Data-Visualization-Berlin/">Data Visualization Meetup Berlin</a>. You are very welcome to join us for our ~monthly meetings. Meanwhile, here are some links to help you around. If you have any additional questions, want to participate or <a href="https://github.com/Data-Visualization-Berlin/Data-Visualization-Berlin.github.io">contribute</a> to this website, feel free to contact me through jonas-at-datavis.berlin or on <a href="https://twitter.com/zeto" rel="author">Twitter</a>.<br /><br />

        Greetings, <a href="https://twitter.com/zeto" rel="author">Jonas</a><br /><br />

        PS: Follow <a href="https://twitter.com/hashtag/visber">#visber</a> for more up-to-date information.
      </p>

      <p><small><em>*</em> Still not sure if that’s a word</small></p>
    </header>
