<footer class="container page-footer">
  <span>{{ i18n "updated" }} <time datetime="{{ now.Format "2006-01-02T15:04:05Z07:00" }}" title="{{now.Format "Monday, January 2, 2006 3:04 PM MST"}}">{{ i18n (now.Format "January") }} {{ now.Format "2006" }}</time> – <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0) Public Domain Dedication</a> – <a href="{{ .Site.Params.source }}">{{ i18n "github" }}</a> – <a href="{{ .Site.Params.imprint }}">{{ i18n "imprint" }}</a> – <a href="{{ .Site.Params.privacy }}">{{ i18n "privacy" }}</a></span>
</footer>
