<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="robots" content="index,follow">

  <link rel="license" href="//creativecommons.org/licenses/by-nc-nd/4.0">

  {{ range $.Site.Home.AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}"/>
  {{ end }}

  <meta name="ICBM" content="52.518611, 13.408333">
  <meta name="geo.position" content="52.518611;13.408333">
  <meta name="geo.region" content="DE">
  <meta name="geo.placename" content="Berlin">

  <meta name="telegram:channel" content="@{{ .Site.Params.telegram }}">

  <link rel="me" href="mailto:jonas-at-datavis.berlin">

  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:image" content="{{ "preview-fb.png" | absURL }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:locale" content="{{ .Site.LanguageCode }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}">
  <meta name="twitter:url" content="{{ .Site.BaseURL }}">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ .Site.Params.description }}">
  <meta name="twitter:image" content="{{ "preview-tw.png" | absURL }}">

  <link rel="icon" sizes="196x196" href="favicon-196x196.png">
  <link rel="apple-touch-icon" href="favicon-196x196.png">
  <link rel="mask-icon" href="favicon.svg" color="#ff4626">

  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//mmmd.uber.space/matomo/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</head>