{{ define "main" }}

  <main aria-role="main" class="container">
    <header class="homepage-header">
      <a href="{{ .Site.BaseURL }}" rel="self"><h1 class="logo"><i class="icon icon-logo" aria-hidden="true"></i>{{ .Title }}</h1></a>
      <nav>
        {{ $current := .Site.Language.Lang }}
        {{ range (where $.Site.Home.AllTranslations "Language.Lang" "!=" $current) }}
        <a href="{{ .Permalink }}" rel="alternate" hreflang="{{ .Language.Lang }}">{{  .Language.LanguageName }}</a>
        {{ end }}
      </nav>
    </header>
    <div class="homepage-intro">
      {{ .Content }}
    </div>
    <div class="homepage-content">
      {{ partial "headline.html" (dict "id" "professional" "label" (i18n "professional")) }}
      <section aria-labelledby="professional">
        {{ partial "subheadline.html" (dict "id" "jobs" "title" (i18n "joboffers")) }}
        {{ partial "jobs.html" (dict "context" . "id" "jobs") }}
        <small class="note">{{ i18n "contact" (dict "mail" "mailto:jonas-at-datavis.berlin?subject=Job Offering&body=Title:%0DLink:%0DPlace:" "link" "https://github.com/Data-Visualization-Berlin/Datavis-Berlin-Website") | safeHTML }} {{ (i18n "rss" ("index.xml" | absURL)) | safeHTML }}</small>
      </section>
      {{ partial "list.html" (dict "items" $.Site.Data "id" "professional" "layout" "wrap") }}
      {{ partial "headline.html" (dict "id" "places" "label" (i18n "places")) }}
      {{ partial "list.html" (dict "items" $.Site.Data "id" "places" "layout" "wrap") }}
      {{ partial "headline.html" (dict "id" "meet" "label" (i18n "meet")) }}
      {{ partial "list.html" (dict "items" $.Site.Data "id" "meet" "layout" "columns") }}
      {{ partial "headline.html" (dict "id" "programmes" "label" (i18n "programmes")) }}
      {{ partial "list.html" (dict "items" $.Site.Data "id" "programmes" "layout" "wrap") }}
      <small class="note">{{ i18n "article" (dict "title" "Data Visualisation Programmes and Qualifications" "link" "http://www.visualisingdata.com/2018/06/data-visualisation-programmes-qualifications/") | safeHTML }}</small>
    </div>
  </main>

{{ end }}