{{ define "main" }}

  <main aria-role="main" class="container">
    <header class="homepage-header">
      <a href="{{ .Site.BaseURL }}" rel="self"><h1 class="logo"><i class="icon icon-logo" aria-hidden="true"></i>{{ .Site.Title }}</h1></a>
    </header>
    <article class="event-detail">
      <h2>{{ .Title }}</h2>
      <p>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ i18n (.Date.Format "January") }} {{ .Date.Format "2, 2006 15:04" }}</time>
        – <span>{{ .Params.location }}</span>
      </p>
      <p>{{ .Params.description }}</p>
      {{ with .Params.link }}<p><a href="{{ . }}" rel="noopener noreferrer">{{ i18n "moreinfo" }}</a></p>{{ end }}
      {{ with .OutputFormats.Get "ical" }}<p><a href="{{ .Permalink }}">{{ i18n "addtocalendar" }}</a></p>{{ end }}
    </article>
  </main>

  {{ partial "event-jsonld.html" . }}

{{ end }}
